 li > a{
    list-style: none;
    text-decoration: none;
    color: black
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: solid 2px gray;
    padding: 30px 0px;
}
.footer-nav{
    display: flex;
    flex-direction: column;
}

.icon-nav{
    display: flex;
}

.icon-div{
    border: solid 2px blue;
    height: fit-content;
    padding: 8px;
    margin: 6px;
    border-radius: 15px;
}

.icon{
    font-size: 25px;
    color: blue;
}

